In [14]:
from io import StringIO
import pandas as pd

table = StringIO("""
T	t	X	a_w	R
-1	-1	 56.11 	0.989	16.93
1	-1	54.89	0.961	50.71
-1	1	28.1	0.942	77.79
1	1	24.81	0.605	151.6
0	0	41.21	0.928	73.83
0	0	43.71	0.928	60.37
0	0	40.38	0.949	74.17
""")
                 
data = pd.read_csv(table, sep='\t')
data

   T  t      X    a_w       R
0 -1 -1  56.11  0.989   16.93
1  1 -1  54.89  0.961   50.71
2 -1  1  28.10  0.942   77.79
3  1  1  24.81  0.605  151.60
4  0  0  41.21  0.928   73.83
5  0  0  43.71  0.928   60.37
6  0  0  40.38  0.949   74.17

In [13]:
from statsmodels.formula.api import ols

#formula = "FPase ~ 1 + C(U, Sum) + C(A,Sum) + C(P,Sum) + C(Y,Sum) + C(U,Sum)*C(A,Sum) + C(U,Sum)*C(P,Sum) + C(U,Sum)*C(Y,Sum) + C(A,Sum)*C(P,Sum) + C(A,Sum)*C(Y,Sum) + C(P,Sum)*C(Y,Sum)"
formula =  "X ~  T+t+T*t"
#formula =  "CMCase ~  1 + C(U) + C(A) + C(P) + C(Y) + C(U)*C(A) + C(U)*C(P) + C(U)*C(Y) + C(A)*C(P) + C(A)*C(Y) + C(P)*C(Y)"
lm = ols(formula, data).fit()

#lm = gls(formula, factor_24_table).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      X   R-squared:                       0.992
Model:                            OLS   Adj. R-squared:                  0.983
Method:                 Least Squares   F-statistic:                     120.1
Date:                Wed, 05 Jul 2023   Prob (F-statistic):            0.00127
Time:                        15:31:08   Log-Likelihood:                -9.9708
No. Observations:                   7   AIC:                             27.94
Df Residuals:                       3   BIC:                             27.73
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     41.3157      0.581     71.171      0.000      39.468      43.163
T             -1.1275      0.768     -1.468      0.238      -3.571       1.316
t            -14.5225      0.768    -18.911      0.000     -16.966     -12.079
T:t           -0.5175      0.768     -0.674      0.549      -2.961       1.926
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.458
Prob(Omnibus):                    nan   Jarque-Bera (JB):                4.596
Skew:                           1.792   Prob(JB):                        0.100
Kurtosis:                       4.708   Cond. No.                         1.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 7 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [6]:
from statsmodels.stats.api import anova_lm

anova_lm(lm, typ=3)

                 sum_sq   df            F    PR(>F)
Intercept  11948.917729  1.0  5065.321154  0.000006
T              5.085025  1.0     2.155617  0.238357
t            843.612025  1.0   357.619488  0.000323
T:t            1.071225  1.0     0.454108  0.548666
Residual       7.076896  3.0          NaN       NaN