In [8]:
from io import StringIO
import pandas as pd
from statsmodels.stats.api import anova_lm
from statsmodels.formula.api import ols


sample_data = StringIO("""
A	B	y
-1	-1	20
-1	1	30
1	-1	40
1	1	52
""")

sample_table = pd.read_csv(sample_data, sep='\t')
sample_table

   A  B   y
0 -1 -1  20
1 -1  1  30
2  1 -1  40
3  1  1  52

In [9]:


formula = 'y ~ A + B + A:B'
model = ols(formula, data=sample_table).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Tue, 04 Jul 2023   Prob (F-statistic):                nan
Time:                        20:58:10   Log-Likelihood:                 126.02
No. Observations:                   4   AIC:                            -244.0
Df Residuals:                       0   BIC:                            -246.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     35.5000        inf          0        nan         nan         nan
A             10.5000        inf          0        nan         nan         nan
B              5.5000        inf          0        nan         nan         nan
A:B            0.5000        inf          0        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   1.500
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.167
Skew:                           0.000   Prob(JB):                        0.920
Kurtosis:                       2.000   Cond. No.                         1.00
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/stats/stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "
/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/regression/linear_model.py:1794: RuntimeWarning: divide by zero encountered in divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/regression/linear_model.py:1794: RuntimeWarning: invalid value encountered in scalar multiply
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/regression/linear_model.py:1716: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid
/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/base/model.py:1529: RuntimeWarning: invalid value encountered in multiply
  cov_p = self.normalized_cov_params * scale

In [10]:
anova_lm(model)

/home/ppiper/micromamba/envs/explain/lib/python3.11/site-packages/statsmodels/stats/anova.py:138: RuntimeWarning: divide by zero encountered in scalar divide
  (model.ssr / model.df_resid))

           df        sum_sq  mean_sq    F  PR(>F)
A         1.0  4.410000e+02    441.0  0.0     NaN
B         1.0  1.210000e+02    121.0  0.0     NaN
A:B       1.0  1.000000e+00      1.0  0.0     NaN
Residual  0.0  1.009742e-28      inf  NaN     NaN