# Begginer's Tutorial

## Reading Data from String

Data can be read from a string, by using the `ImportString` class of `explain.dataio`. The default delimiter is `\s` the spectial charactere for whitespaces.

In [1]:
from explann.dataio import ImportString

data_string = """
Observação	Dureza	Temperatura
1	137	220
2	137	220
3	137	220
4	136	220
5	135	220
6	135	225
7	133	225
8	132	225
9	133	225
10	133	225
11	128	230
12	124	230
13	126	230
14	129	230
15	126	230
16	122	235
17	122	235
18	122	235
19	119	235
20	122	235
"""

data_reader_string = ImportString(data=data_string, delimiter="\s")

`data_reader` object stores the providade data in its `.data` attribute

In [2]:
data_reader_string.data

    Observação  Dureza  Temperatura
0            1     137          220
1            2     137          220
2            3     137          220
3            4     136          220
4            5     135          220
5            6     135          225
6            7     133          225
7            8     132          225
8            9     133          225
9           10     133          225
10          11     128          230
11          12     124          230
12          13     126          230
13          14     129          230
14          15     126          230
15          16     122          235
16          17     122          235
17          18     122          235
18          19     119          235
19          20     122          235

## Read Data from Excel file

Data can also be read from a `.xlsx` file (Excel extension). To do so, use the `ImportXLSX` class of `explain.dataio`. Default is to read the first `Sheet`, otherwise desired provide the additional argument `sheet_name`

In [3]:
from explann.dataio import ImportXLSX

data_reader_xlsx = ImportXLSX(path="../../data/paper_data_24.xlsx")

data_reader_xlsx.data

    U  A  P  Y    F      C    B
0  -1 -1 -1 -1   39  1.328  170
1   1 -1 -1 -1   87  1.699  122
2  -1  1 -1 -1   48  1.332  473
3   1  1 -1 -1   71  1.979  511
4  -1 -1  1 -1   43  1.458  156
5   1 -1  1 -1   84  2.189  204
6  -1  1  1 -1   45  1.343  385
7   1  1  1 -1  112  1.707  288
8  -1 -1 -1  1   19  1.257  114
9   1 -1 -1  1  146  2.148  116
10 -1  1 -1  1   50  1.592  244
11  1  1 -1  1   92  1.726  126
12 -1 -1  1  1  107  1.203   72
13  1 -1  1  1  172  2.261  210
14 -1  1  1  1   62  1.434  234
15  1  1  1  1   82  1.848  154
16  0  0  0  0   75  1.726  223
17  0  0  0  0   70  1.782  219
18  0  0  0  0   89  1.753  226

## Dealing With Leveled Data

Any importer has the functionality to convert levels of an factorial to respective values. For this task a table containg the values associated with each level should be passed, either as a `string` or a `.xlsx` file in the same way as the main data table.`

In [4]:
levels_string = """
Levels;U;A;P;Y
-1;0.15;0.7; 0.40;0.13
0; 0.30;1.4; 0.75;0.26
1; 0.45;2.1; 1.10;0.38
"""

levels_reader = ImportString(
    data = levels_string, 
    delimiter = ";",
    index_col = 0  # should pass the column name or index containing the level.
)
levels_reader.data

           U    A     P     Y
Levels
-1      0.15  0.7  0.40  0.13
 0      0.30  1.4  0.75  0.26
 1      0.45  2.1  1.10  0.38

The same data should be imported from a `.xlsx` file.

In [5]:
levels_reader_xlsx = ImportXLSX(
    path="../../data/paper_data_24.xlsx",
    sheet_name="Levels",
    index_col=0,
)
levels_reader_xlsx.data

           U    A     P     Y
Levels
-1      0.15  0.7  0.40  0.13
 0      0.30  1.4  0.75  0.26
 1      0.45  2.1  1.10  0.38

The data reader `parse_levels` acept a `pd.Dataframe` constructed from any one of the methods above, you can pass `string` or `.xlsx` files to the methos `parse_levels_from_string` and `parse_levels_from_xlsx`.

In [6]:
# passing a pd.DataFrame
data_reader_xlsx.parse_levels(
    data = levels_reader.data
)

In [7]:
data_reader_xlsx.data

       U    A     P     Y    F      C    B
0   0.15  0.7  0.40  0.13   39  1.328  170
1   0.45  0.7  0.40  0.13   87  1.699  122
2   0.15  2.1  0.40  0.13   48  1.332  473
3   0.45  2.1  0.40  0.13   71  1.979  511
4   0.15  0.7  1.10  0.13   43  1.458  156
5   0.45  0.7  1.10  0.13   84  2.189  204
6   0.15  2.1  1.10  0.13   45  1.343  385
7   0.45  2.1  1.10  0.13  112  1.707  288
8   0.15  0.7  0.40  0.38   19  1.257  114
9   0.45  0.7  0.40  0.38  146  2.148  116
10  0.15  2.1  0.40  0.38   50  1.592  244
11  0.45  2.1  0.40  0.38   92  1.726  126
12  0.15  0.7  1.10  0.38  107  1.203   72
13  0.45  0.7  1.10  0.38  172  2.261  210
14  0.15  2.1  1.10  0.38   62  1.434  234
15  0.45  2.1  1.10  0.38   82  1.848  154
16  0.30  1.4  0.75  0.26   75  1.726  223
17  0.30  1.4  0.75  0.26   70  1.782  219
18  0.30  1.4  0.75  0.26   89  1.753  226

In [8]:
# passing a string
data_reader_xlsx.parse_levels_from_string(
    data = levels_string, 
    delimiter=";"
)

# passing a path
data_reader_xlsx.parse_levels_from_xlsx(
    data = "../../data/paper_data_24.xlsx", 
    sheet_name = "Levels",
    index_col=0,
)

In [9]:
data_reader_xlsx.data

       U    A     P     Y    F      C    B
0   0.15  0.7  0.40  0.13   39  1.328  170
1   0.45  0.7  0.40  0.13   87  1.699  122
2   0.15  2.1  0.40  0.13   48  1.332  473
3   0.45  2.1  0.40  0.13   71  1.979  511
4   0.15  0.7  1.10  0.13   43  1.458  156
5   0.45  0.7  1.10  0.13   84  2.189  204
6   0.15  2.1  1.10  0.13   45  1.343  385
7   0.45  2.1  1.10  0.13  112  1.707  288
8   0.15  0.7  0.40  0.38   19  1.257  114
9   0.45  0.7  0.40  0.38  146  2.148  116
10  0.15  2.1  0.40  0.38   50  1.592  244
11  0.45  2.1  0.40  0.38   92  1.726  126
12  0.15  0.7  1.10  0.38  107  1.203   72
13  0.45  0.7  1.10  0.38  172  2.261  210
14  0.15  2.1  1.10  0.38   62  1.434  234
15  0.45  2.1  1.10  0.38   82  1.848  154
16  0.30  1.4  0.75  0.26   75  1.726  223
17  0.30  1.4  0.75  0.26   70  1.782  219
18  0.30  1.4  0.75  0.26   89  1.753  226

The results are the same, `data` attribute has its values parsed to the corresponding index levels for each variable as described in the `levels_reades_<type>.data` table.

In [10]:
data_reader_xlsx.data

       U    A     P     Y    F      C    B
0   0.15  0.7  0.40  0.13   39  1.328  170
1   0.45  0.7  0.40  0.13   87  1.699  122
2   0.15  2.1  0.40  0.13   48  1.332  473
3   0.45  2.1  0.40  0.13   71  1.979  511
4   0.15  0.7  1.10  0.13   43  1.458  156
5   0.45  0.7  1.10  0.13   84  2.189  204
6   0.15  2.1  1.10  0.13   45  1.343  385
7   0.45  2.1  1.10  0.13  112  1.707  288
8   0.15  0.7  0.40  0.38   19  1.257  114
9   0.45  0.7  0.40  0.38  146  2.148  116
10  0.15  2.1  0.40  0.38   50  1.592  244
11  0.45  2.1  0.40  0.38   92  1.726  126
12  0.15  0.7  1.10  0.38  107  1.203   72
13  0.45  0.7  1.10  0.38  172  2.261  210
14  0.15  2.1  1.10  0.38   62  1.434  234
15  0.45  2.1  1.10  0.38   82  1.848  154
16  0.30  1.4  0.75  0.26   75  1.726  223
17  0.30  1.4  0.75  0.26   70  1.782  219
18  0.30  1.4  0.75  0.26   89  1.753  226

Original data is retained in a `raw_data` attribute

In [11]:
data_reader_xlsx.raw_data

    U  A  P  Y    F      C    B
0  -1 -1 -1 -1   39  1.328  170
1   1 -1 -1 -1   87  1.699  122
2  -1  1 -1 -1   48  1.332  473
3   1  1 -1 -1   71  1.979  511
4  -1 -1  1 -1   43  1.458  156
5   1 -1  1 -1   84  2.189  204
6  -1  1  1 -1   45  1.343  385
7   1  1  1 -1  112  1.707  288
8  -1 -1 -1  1   19  1.257  114
9   1 -1 -1  1  146  2.148  116
10 -1  1 -1  1   50  1.592  244
11  1  1 -1  1   92  1.726  126
12 -1 -1  1  1  107  1.203   72
13  1 -1  1  1  172  2.261  210
14 -1  1  1  1   62  1.434  234
15  1  1  1  1   82  1.848  154
16  0  0  0  0   75  1.726  223
17  0  0  0  0   70  1.782  219
18  0  0  0  0   89  1.753  226

## Build a Factorial Model

To bulid a factorial model for the data `explann` implemented the class `FactorialModel`. The arguments are the data and the functions. Functions are passed as python dictionaries, the keys are the function names, in this examlpe `"F"`,`"CM"` and `"B"`. This names should be any string, this allow to create any number of models by addressing different names. 

The dictionary values are also string containing the model equations, the syntax follow [patsy](https://patsy.readthedocs.io/en/latest/formulas.html) standards. The left hand side (lhs) contains the dependent variables and the right hand side (rhs) the indenpendent terms. The lhs and rhs are separated by "`~`" charactere.

In [13]:
from explann.models import FactorialModel

fm = FactorialModel(
    data=data_reader_xlsx.data, 
    functions=
    {
        "F"  : "F ~ U * A * P * Y",
        "CM" : "CM ~ U * A * P * Y",
        "B"  : "B ~ U * A * P * Y"
    }
    )

PatsyError: Error evaluating factor: NameError: name 'CM' is not defined
    CM ~ U * A * P * Y
    ^^